Result Description

Fail 1 -- test15_ValidateCarModelForInvalidCarModel::
Expected com.exception.InvalidCarBookingException to be thrown
 but nothing was thrown.
 
 Grading and Feedback
Writing JUnit for a Utility class - 58.0 / 60.0(Success)

Test Coverage - 40 / 40.0(Success)
 
 Test Case Failed
 Running com.test.BookingUtilTest
[ERROR] Tests run: 9, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.264 s <<< FAILURE! - in com.test.BookingUtilTest
[ERROR] test15_ValidateCarModelForInvalidCarModel  Time elapsed: 0.032 s  <<< FAILURE!
org.opentest4j.AssertionFailedError: Expected com.exception.InvalidCarBookingException to be thrown, but nothing was thrown.
        at com.test.BookingUtilTest.test15_ValidateCarModelForInvalidCarModel(BookingUtilTest.java:70)

[INFO] 
[INFO] Results:
[INFO] 
[ERROR] Failures: 
[ERROR]   BookingUtilTest.test15_ValidateCarModelForInvalidCarModel:70 Expected com.exception.InvalidCarBookingException to be thrown, but nothing was thrown.
[INFO] 
[ERROR] Tests run: 9, Failures: 1, Errors: 0, Skipped: 0
[INFO] 
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  5.700 s
[INFO] Finished at: 2025-09-02T14:35:56+05:30
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.22.2:test (default-test) on project HighlineMotors: There are test failures.
[ERROR] 
[ERROR] Please refer to /home/p10011/HighlineMotors/target/surefire-reports for the individual test results.
[ERROR] Please refer to dump files (if any exist) [date].dump, [date]-jvmRun[N].dump and [date].dumpstream.
[ERROR] -> [Help 1]
[ERROR] 
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e switch.
[ERROR] Re-run Maven using the -X switch to enable full debug logging.
[ERROR] 
[ERROR] For more information about the errors and possible solutions, please read the following articles:
[ERROR] [Help 1] http://cwiki.apache.org/confluence/display/MAVEN/MojoFailureException
************************BUILD SUCCESSFUL*****************************
